<div class="d-flex justify-content-center align-items-center success flex-column">


  <h1>Booking Successful</h1>
  <h5>Hi! You Have Successfully Made A Booking For {{util.getIndianDate(this.data.order.date)}} your booking id is {{this.data.order.id}}</h5>

  <div class="d-flex ">
    <div class="p-4">
      <a href="/"><button mat-raised-button class="btn_btn " >Go To Home</button></a>
    </div>
    <div class="p-4">
      <button mat-raised-button class="btn_btn">Contact Support</button>
    </div>
  </div>

</div>
