<div class="container-fluid p-0">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src='assets/logo.png' alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarNav'">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item dropdown px-5 lang">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Finnish</a></li>

            </ul>
          </li>

          <li class="nav-item dropdown px-5 lang" *ngIf="session.isLoggedIn && session.getUser()">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{this.session.getUser().name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/user-profile">My Profile</a></li>
              <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
            </ul>
          </li>

          <li class="nav-item px-5 lang" *ngIf="!session.isLoggedIn">
            <a class="nav-link" role="button" routerLink="/auth/login">
              Login
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

</div>
