<div class="container-fluid mt-auto">
  <div class="container py-5 text-light">
    <div class="row">
      <div class="col-lg-6">
        <div>
          <h2 class="footer_heading">About Company</h2>
          <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum</p>
          <div class="social_link">
            <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
            <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 align-self-center">
        <ul class="footer_list">
          <li><span class="add_icon"><i class="fa fa-phone " aria-hidden="true"></i></span> <span class="add_text ps-1">044 2377385</span></li>
          <li><span class="add_icon"><i class="fa fa-envelope " aria-hidden="true"></i></span> <span class="add_text">taitorakentajatoy@gmail.com</span></li>
          <li><span class="add_icon"><i class="fa fa-map-marker " aria-hidden="true"></i></span> <span class="add_text ps-2">Palokunnankatu 28 LH5</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
