*{
  font-family: 'Montserrat', sans-serif;
}

.container{
  text-transform: capitalize!important;

  h1,h2,h3,h4,h5,h6{
    //font-family: 'Montserrat', sans-serif;
    color: #59BD2F;
    font-weight: 700;

  }

  .prop_card{
    border-radius: 20px;
    padding: 30px;
  }

  .info{
    border: 1px solid #59BD2F;
    border-radius: 50%;
    padding: 0px 3px;
    font-size: 7px;
    font-weight: 600;
    color: #59BD2F;
    cursor: pointer;
  }

  .prop_check{
    border: 1px solid #969494ad;
    border-radius: 8px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
  }
  .prop_label{
    color: #59BD2F;
  }


}

.btn_btn{
  background-color: #59BD2F;
  color: #fff;
  padding: 7px 50px;
  border-radius: 10px;
}


@media only screen and (max-width:550px) {

  .container{

    .prop_card{
      padding: 15px;
    }
  }

}

.overwrite{
  background: #ffcc80;
  color: #e65100;
  font-size: smaller;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
}
