.order_card{
  border-radius: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-column {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.order-heading{
  font-size: xx-large;
  padding-left: 16px;
}

*{
  font-family: 'Montserrat', sans-serif;
}
