
<div class="container-fluid background">
  <div class="main-container">
    <mat-card class="card">
      <div *ngIf="reset === 0 || reset === 2">
        <div>
          <img src="assets/images/password.png" alt="" routerLink="/" class="logo">
        </div>
        <mat-card-title class="heading">Reset Password</mat-card-title>
        <div class="login_form">
          <div class="t-left">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="password" matInput placeholder="Enter Email" type="password" #pass>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input [(ngModel)]="cnfPassword" matInput placeholder="Enter Email" type="password" #cPass>
            </mat-form-field>

            <mat-error *ngIf="pass.value !== cPass.value && pass.value.length > 1 && cPass.value.length > 1">Passwords do not match</mat-error>
            <div *ngIf="reset === 2" class="err-text"><b>Oops an error occurred while changing your password, please try again later.</b></div>

            <div class="t-center">
              <button [disabled]="(pass.value !== cPass.value && pass.value.length > 1 && cPass.value.length > 1)" class="btn-forgot-full" color="primary" mat-raised-button type="submit" (click)="changePassword()" *ngIf="!progress">Change Password</button>
              <mat-spinner *ngIf="progress" [diameter]="50" style="margin: 0 auto"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="reset === 1">
        <div>
          <img src="assets/images/confetti.png" alt="" routerLink="/" class="logo">
        </div>
        <h3 class="header-link">Password Updated</h3>
        <p>Congratulations, we have updated your password and now you access your account using your new password. Click on Login button below to Login.</p>
        <button mat-raised-button class="btn-forgot" routerLink="/auth/login">Login</button>
      </div>
    </mat-card>
  </div>
</div>
