
<div class="container-fluid background">
  <div class="main-container">
    <mat-card class="card">
      <div *ngIf="sent === 0 || sent === 2">
        <div>
          <img src="assets/images/forgot.png" alt="" routerLink="/" class="logo">
        </div>
        <mat-card-title class="heading">Forgot Password</mat-card-title>
        <div class="login_form">
          <div class="t-left">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="email" matInput placeholder="Enter Email" [pattern]="emailPattern" #emailId="ngModel">
              <mat-error *ngIf="emailId.errors">Please enter valid email</mat-error>
            </mat-form-field>

            <div *ngIf="sent === 1" class="err-text">Oops an error occurred while sending you the verification link, please try again later.</div>

            <div class="t-center">
              <button [disabled]="email && !!emailId.errors" class="btn-forgot-full" color="primary" mat-raised-button type="submit" (click)="sendLink()" *ngIf="!progress">Reset Password</button>
              <mat-spinner *ngIf="progress" [diameter]="50" style="margin: 0 auto"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="sent === 1">
        <div>
          <img src="assets/images/verification.png" alt="" routerLink="/" class="logo">
        </div>
        <h3 class="header-link">Verify Email</h3>
        <p>Hi, we have sent a link to this 📧 email if registered with us, please click on the link in order to verify your account and reset your 🔑 password.
        If in case you do not received email you can come back and try again.</p>
        <button mat-raised-button class="btn-forgot" routerLink="/auth/login">Login</button>
      </div>
    </mat-card>
  </div>
</div>
