<app-header></app-header>
<div class="container my-5">
    <div class="row">
      <div class="col-lg-3 col-sm-12 text-center m-t-15">
        <mat-card class="profile-card">
          <div class="ribbon">
          </div>
          <div class="card-content">
            <img src="./assets/images/user.png" alt="" class="user-profile" *ngIf="!session.getUser().avatar">
            <img [src]="BASE_URL + session.getUser().avatar.url" alt="" class="usr-avatar" *ngIf="session.getUser().avatar">
            <div class="hello-text">Hi, {{session.getUser().name}}</div>
            <hr>
            <div class="text-start">
              <div class="cs-pointer" (click)="currentTab = 1" [style.color]="currentTab === 1 ? '#56ab2f' : ''">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z" />
                </svg>
                Edit Profile</div>
              <hr>
              <div class="cs-pointer" (click)="currentTab = 2" [style.color]="currentTab === 2 ? '#56ab2f' : ''">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M17,18L12,15.82L7,18V5H17M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z" />
                </svg>
                My Orders</div>
              <hr>
              <div (click)="logoutConfirm()" class="cs-pointer">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M14.08,15.59L16.67,13H7V11H16.67L14.08,8.41L15.5,7L20.5,12L15.5,17L14.08,15.59M19,3A2,2 0 0,1 21,5V9.67L19,7.67V5H5V19H19V16.33L21,14.33V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19Z" />
                </svg>
                Logout
              </div>
            </div>
          </div>

        </mat-card>
      </div>

      <div class="col-lg-8 col-sm-12 m-t-15">
        <div *ngIf="currentTab === 1">

          <mat-card class="profile-card">
            <div class="ribbon">
            </div>
            <div class="section-heading">Edit Profile</div>
            <hr>
            <div class="card-content">
              <form [formGroup]="userProfileForm" (ngSubmit)="updateUserInfo()">
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>First Name</mat-label>
                      <input type="text" placeholder="First Name" matInput formControlName="name" maxlength="24">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Last Name</mat-label>
                      <input type="text" placeholder="Last Name" matInput formControlName="lname" maxlength="24">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Phone Number</mat-label>
                      <input type="tel" placeholder="Phone Number" matInput formControlName="phone" maxlength="10">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>City</mat-label>
                      <input type="text" placeholder="City" matInput formControlName="city" maxlength="15">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Email</mat-label>
                      <input type="email" placeholder="Email" matInput formControlName="email" maxlength="50">
                    </mat-form-field>
                  </div>
                </div>
                <div class="text-start">
                  <button class="profile_btn" mat-raised-button type="submit" [disabled]="!userProfileForm.valid" *ngIf="!profileUpdating">Update Profile</button>
                  <mat-spinner [diameter]="50" class="m-l-16" *ngIf="profileUpdating"></mat-spinner>
                </div>
              </form>
            </div>
          </mat-card>
        </div>

        <app-my-orders *ngIf="currentTab === 2 "></app-my-orders>

      </div>
  </div>
</div>
<app-footer></app-footer>
